.form-group {
  display: flex;
  flex-direction: column;
  gap: var(--s2);
  width: 100%;
  margin-top: var(--s2);
}

.form-group--inline {
  display: inline-flex;
  margin-right: var(--s3);
  gap: var(--s1);
}
