.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  gap: var(--s3);
  z-index: 10;
  box-shadow: var(--box-shadow-one);
  max-width: 95%;
  padding: var(--s3);
  border-radius: var(--bRadius1);
  background-color: var(--bg-one);
  color: var(--text-one);
  font-size: var(--fs2);
}

.modal__close {
  position: absolute;
  top: var(--s2);
  right: var(--s2);
  transform: rotate(45deg);
  width: 35px;
  height: 35px;
  border-radius: 50%;
  color: var(--text-one-secondary);
  font-size: 30px;
  line-height: 31px;
}

.modal__close:hover {
  background-color: var(--bg-one-hover);
  color: var(--text-one);
}

.modal__title {
  margin-bottom: var(--s2);
  font-weight: 500;
  font-size: var(--fs3);
}

.modal__text {
  color: var(--text-one-secondary);
}

.modal__controls {
  display: flex;
  gap: var(--s2);
}
