.navbar {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 6;
  padding: var(--s2);
  border-bottom: 1px solid var(--hairline);
  background-color: var(--bg-primary);
}

.navbar__logo {
  font-size: var(--fs4);
  font-weight: 500;
}
