.navbar {
  padding: var(--s2);
  border-bottom: 1px solid var(--hairline);
  background-color: var(--bg-two);
  color: var(--text-two);
}

.navbar__logo {
  font-size: var(--fs4);
  font-weight: 500;
}
